.header {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  text-align: center;
  align-items: center;
  padding-block: 1em;
  z-index: 50;
}

.header > h1 {
  font-size: clamp(30px, 3vw, 45px);
}

.nav {
  display: grid;
  place-items: center start;
}
.nav a {
  position: relative;
  font-size: clamp(15px, 2vw, 22px);
}
.nav a::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease-out;
  bottom: 0px;
  transform: translate(-50%, 15px);
  left: 50%;
  width: 100%;
  opacity: 0;
  height: 2px;
  background-color: black;
  border-radius: 10px;
}
.nav a[aria-current="false"]:hover::after {
  width: 90%;
  transform: translate(-50%, 10px);
  opacity: 1;
}
.nav a[aria-current="true"]::after {
  transform: translate(-50%, 10px);
  opacity: 1;
}

.nav > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.socials {
  display: flex;
  gap: 1.5em;
  justify-content: end;
  align-items: center;
}

.burger {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  rotate: 180deg;
}

.burger span {
  background: var(--segondary-clr);
  border-radius: 10px;
  height: 7px;
  margin: 5px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger span:nth-of-type(1) {
  width: 75%;
}

.burger span:nth-of-type(2) {
  width: 100%;
}

.burger span:nth-of-type(3) {
  width: 50%;
}

.burger input[type="checkbox"] {
  display: none;
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  width: 50%;
  transform: rotatez(45deg) translate(6px, 2px);
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform: translate(22px, -9px) rotatez(45deg);
  transform-origin: bottom;
}

@media screen and (min-width: 650px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header {
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    justify-items: center;
    top: 0px;
    gap: 1em;
    height: calc(50px + 1.5em);
    padding-block: calc(50px + 2em) 0;
    overflow: hidden;
    background: linear-gradient(white 25%, transparent);
    width: 100%;
    transition: all 0.3s ease-out;
  }
  .header > h1 {
    position: absolute;
    top: 1em;
  }
  .nav,
  .socials {
    transition: all 0.5s ease-out;
    opacity: 0;
  }
  .header:has(label > input[type="checkbox"]:checked) {
    height: 100%;
    min-height: max-content;
    padding-block: calc(50px + 3em) 0;
  }
  .header:has(label > input[type="checkbox"]:checked) > nav,
  .header:has(label > input[type="checkbox"]:checked) > ul {
    opacity: 1;
  }

  .nav a {
    font-size: 1.2em;
  }
}
