.main {
  display: grid;
  grid-template-rows: 40% 0.8fr;
  place-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header_section > aside {
  max-height: 100%;
}

.header_section > h1 {
  display: grid;
  font-size: clamp(25px, 2.7vw, 40px);
}
.header_section > h1 > span {
  overflow: hidden;
}
.header_section > h1 > span:last-child {
  color: var(--primary_clr);
}

.bottom_section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2.5em;
  align-self: start;
  height: 100%;
  width: 100%;
}

.bottom_section > div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 1em;
  align-items: center;
  font-size: clamp(16px, 2.5vw, 25px);
  color: var(--segondary-clr);
}

.bottom_section > div > hr {
  border: none;
  background-color: var(--segondary-clr);
  height: 25%;
  border-radius: 10px;
}

.galery {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 20%));
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.galery > li {
  list-style-type: none;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .galery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  .galery > li:last-child {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .main {
    padding-block-start: calc(50px + 3em);
    grid-template-rows: 30% 0.7fr;
    width: 100%;
  }
  .galery {
    grid-template-columns: repeat(2, 1fr);
  }

  .galery > li:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header_section > aside {
    display: none;
  }
}
