.main {
  display: grid;
  place-items: center start;
  gap: 2em;
  justify-self: center;
}

.main a {
  position: relative;
  font-size: clamp(15px, 2vw, 22px);
}
.main a::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease-out;
  bottom: 0px;
  transform: translate(-50%, 15px);
  left: 50%;
  width: 100%;
  opacity: 0;
  height: 2px;
  background-color: black;
  border-radius: 10px;
}

.main > a:hover::after {
  width: 90%;
  transform: translate(-50%, 10px);
  opacity: 1;
}
