@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary_clr: #034990;
  --segondary-clr: hsl(38, 95%, 45%);
}

html,
body {
  width: 100%;
  height: 100%;
}
main,
header {
  padding-inline: 10%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  background-color: #e8e8e8;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  main,
  header {
    padding-inline: 2em;
  }
}

@media screen and (max-width: 650px) {
  body {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    justify-content: space-between;
  }
}
