/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/[locale]/styles/about.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.about_main__TFDIJ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10svh;
  padding-block: 3em 10em;
}

.about_main__TFDIJ > h1 {
  mix-blend-mode: difference;
  font-size: clamp(25px, 2vw, 30px);
  color: var(--segondary-clr);
  align-self: flex-start;
}

.about_timeline_section__sszd_ {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about_timeline_section__sszd_ > hr {
  position: absolute;
  top: -50px;
  transition: all 0.3s ease-out;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5em;
  height: 100%;
  border: none;
  background-color: var(--primary_clr);
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}

.about_timeline_section__sszd_ > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5svh;
}

.about_article__cgca0 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  font-size: larger;
  width: 450px;
  color: white;
  transition: all 0.5s ease-out;
}

.about_article__cgca0:nth-child(odd) {
  transform: translateX(calc(50% - 30px));
  opacity: 0;
}
.about_article__cgca0:nth-child(even) {
  flex-direction: row-reverse;
  transform: translateX(calc(-50% + 30px));
  opacity: 0;
}
.about_article__cgca0 > aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  padding: 1em 0.5em;
  background-color: var(--primary_clr);
  border-radius: 0.5em;
}

.about_article__cgca0 > aside > p {
  font-weight: 300;
  width: 90%;
}

.about_article__cgca0 > aside > h1 {
  font-size: clamp(25px, 2vw, 30px);
}

.about_article__cgca0 > img {
  background-color: #ffffff;
  border-radius: 30%;
  padding: 0.5em;
  border: 2px solid var(--primary_clr);
  align-self: center;
}

@media screen and (max-width: 950px) {
  .about_timeline_section__sszd_ > div {
    position: relative;
    overflow-x: hidden;
    align-items: flex-start;
    padding-inline: 1em;
    width: 80svw;
  }
  .about_timeline_section__sszd_ > hr {
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }
  .about_article__cgca0:nth-child(even),
  .about_article__cgca0:nth-child(odd) {
    transform: translateX(0px);
    opacity: 0;
  }

  .about_main__TFDIJ {
    padding-block: 5em 10em;
    padding-inline: 10%;
  }

  .about_timeline_section__sszd_ article:nth-child(odd),
  .about_timeline_section__sszd_ article:nth-child(even) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .about_article__cgca0 > img {
    position: sticky;
    align-self: flex-start;
  }
  .about_article__cgca0 > aside {
    align-items: flex-start;
    text-align: left;
    width: 100%;
    gap: 1em;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/font/google/target.css?{"path":"app\\[locale]\\components\\timeline.tsx","import":"Work_Sans","arguments":[{"subsets":["latin"],"weight":["500","300","600"],"display":"swap"}],"variableName":"workSans"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* vietnamese */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/0822b6067e7c0dee-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/67354d9f27664b22-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/6905431624c34d00-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/0822b6067e7c0dee-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/67354d9f27664b22-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/6905431624c34d00-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/0822b6067e7c0dee-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/67354d9f27664b22-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Work_Sans_f8667f';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/6905431624c34d00-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Work_Sans_Fallback_f8667f';src: local("Arial");ascent-override: 83.09%;descent-override: 21.71%;line-gap-override: 0.00%;size-adjust: 111.93%
}.__className_f8667f {font-family: '__Work_Sans_f8667f', '__Work_Sans_Fallback_f8667f';font-style: normal
}

