/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/[locale]/styles/main.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main_main__XjGB2 {
  display: grid;
  grid-template-rows: 40% 0.8fr;
  place-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.main_header_section__bViPG {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main_header_section__bViPG > aside {
  max-height: 100%;
}
.main_header_section__bViPG > aside > img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_header_section__bViPG > h1 {
  display: grid;
  font-size: clamp(25px, 2.7vw, 40px);
}
.main_header_section__bViPG > h1 > span {
  overflow: hidden;
}
.main_header_section__bViPG > h1 > span:last-child {
  color: var(--primary_clr);
}

.main_bottom_section__kIzv9 {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2.5em;
  align-self: start;
  height: 100%;
  width: 100%;
}

.main_bottom_section__kIzv9 > div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 1em;
  align-items: center;
  font-size: clamp(16px, 2.5vw, 25px);
  color: var(--segondary-clr);
}

.main_bottom_section__kIzv9 > div > hr {
  border: none;
  background-color: var(--segondary-clr);
  height: 25%;
  border-radius: 10px;
}

.main_galery__vR9CO {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 15%));
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main_galery__vR9CO > li {
  list-style-type: none;
  height: 100%;
}

@media screen and (max-width: 1330px) {
  .main_galery__vR9CO {
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  }
  .main_galery__vR9CO > li:last-child {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .main_galery__vR9CO {
    grid-template-columns: repeat(2, 1fr);
  }

  .main_galery__vR9CO > li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .main_main__XjGB2 {
    padding-block-start: calc(50px + 3em);
    grid-template-rows: 30% 0.7fr;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .main_header_section__bViPG > aside {
    display: none;
  }

  .main_galery__vR9CO {
    grid-template-columns: repeat(1, 1fr);
  }

  .main_galery__vR9CO > li:nth-child(2) {
    display: none;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/[locale]/styles/card.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card__xnxyw {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  height: clamp(200px, 100%, 400px);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 1em;
}
.card_card__xnxyw:hover {
  cursor: pointer;
}
.card_card__xnxyw > img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 1em;
  max-width: 100%;

  z-index: -1;
}

.card_card__xnxyw > div {
  padding: 1em;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (max-width: 650px) {
  .card_card__xnxyw {
    box-shadow: 20px 20px 20px hsla(0, 0%, 75%, 0.6), -20px -20px 20px hsla(0, 0%, 100%, 0.6);
  }
}

