.card {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  height: clamp(200px, 100%, 400px);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 1em;
}
.card:hover {
  cursor: pointer;
}
.card > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  border-radius: 1em;
  max-width: 100%;

  z-index: -1;
}

.card > div {
  padding: 1em;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (max-width: 650px) {
  .card {
    box-shadow: 20px 20px 20px hsla(0, 0%, 75%, 0.6), -20px -20px 20px hsla(0, 0%, 100%, 0.6);
  }
}
