.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10svh;
  padding-block: 3em 10em;
}

.main > h2 {
  mix-blend-mode: difference;
  color: var(--segondary-clr);
  align-self: flex-start;
  font-family: var(--font-nimpkish);
  font-size: clamp(2.5em, 2vw, 10em);
}

.timeline_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timeline_section > hr {
  position: absolute;
  top: -50px;
  transition: all 0.3s ease-out;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5em;
  height: 100%;
  border: none;
  background-color: var(--primary_clr);
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}

.timeline_section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5svh;
}

.article {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: larger;
  width: clamp(450px, 30svw, 100%);
  color: white;
  transition: all 0.5s ease-out;
}

.article:nth-child(odd) {
  transform: translateX(calc(45%));
  opacity: 0;
  & > aside > * {
    text-align: end;
  }
}
.article:nth-child(even) {
  flex-direction: row-reverse;
  transform: translateX(calc(-45%));
  opacity: 0;
  & > aside > * {
    text-align: left;
  }
}

.article > aside {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 1em;
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 1.5em;
  border-radius: 0.5em;
  background-color: var(--primary_clr);
  border-radius: 0.5em;

  & > *::selection {
    color: var(--primary_clr);
    background-color: white;
  }
}

.article > aside > p {
  font-weight: 300;
}

.article > aside > h3 {
  font-size: clamp(2em, 1.5vw, 3em);
  text-transform: capitalize;
  text-wrap: nowrap;
  font-family: var(--font-nimpkish);
}

.article > img {
  background-color: #ffffff;
  border-radius: 30%;
  padding: 0.5em;
  width: clamp(0px, 3svw, 8em);
  border: 2px solid var(--primary_clr);
  align-self: center;
}

@media screen and (max-width: 950px) {
  .timeline_section > div {
    position: relative;
    overflow-x: hidden;
    align-items: flex-start;
    padding-inline: 1em;
    width: 90svw;
  }
  .timeline_section > hr {
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }
  .article:nth-child(even),
  .article:nth-child(odd) {
    transform: translateX(0px);
    opacity: 0;
  }

  .main {
    padding-block: 5em 10em;
    padding-inline: 10%;
  }

  .timeline_section article:nth-child(odd),
  .timeline_section article:nth-child(even) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    & > aside > * {
      text-align: left;
      text-wrap: wrap;
      text-justify: balance;
    }
  }
  .article > aside > h3 {
    text-wrap: wrap;
    font-size: clamp(1.5em, 1.5vw, 3em);
  }

  .article > img {
    width: 2.5em;
    padding: 0.2em;
    align-self: flex-start;
  }
  .article > aside {
    align-items: flex-start;
    text-align: left;
    width: 100%;
    gap: 1em;
  }
}
