.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  width: 20svw;
  max-width: 100%;
  aspect-ratio: 1/1.2;
  border-radius: 1em;
  font-family: var(--font-nimpkish);
}
.card:hover {
  cursor: pointer;
}
.card > img {
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-width: 100%;
  z-index: -1;
}

.card > div {
  padding: 1em;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (max-width: 650px) {
  .card {
    min-width: 250px;
  }
}
