/* FOOTER */
.footer {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 2svh;
  font-family: var(--font-nimpkish);
  align-self: end;
}

.footer p {
  font-size: clamp(0.8em, 0.9vw, 3em);
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  text-align: center;
  align-items: center;
  padding-block: 1em;
  z-index: 1;
}

.header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: clamp(2.5em, 2vw, 10em);
  font-family: var(--font-nimpkish);
  text-wrap: nowrap;
}

.header > h1 a {
  transition: all 0.15s ease-out;
}

.header > h1 a:hover {
  scale: 0.95;
}

.header > h1 > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  color: var(--segondary-clr);
  cursor: pointer;
  transition: all 0.15s ease-out;
  font-size: clamp(0.4em, 2vw, 0.5em);
  font-family: var(--font-nimpkish);
  letter-spacing: 0.2ch;

  & svg {
    width: 1em;
  }
}

.header > h1 > button:hover {
  translate: 0px -5px;
}
.nav {
  display: grid;
  place-items: center start;
}
.nav a {
  position: relative;
  font-size: clamp(1.1em, 1svw, 5em);
}
.nav a::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease-out;
  bottom: 0px;
  transform: translate(-50%, 15px);
  left: 50%;
  width: 100%;
  opacity: 0;
  height: 2px;
  background-color: black;
  border-radius: 10px;
}
.nav a[aria-current="false"]:hover::after {
  width: 90%;
  transform: translate(-50%, 10px);
  opacity: 1;
}
.nav a[aria-current="true"]::after {
  transform: translate(-50%, 10px);
  opacity: 1;
}

.nav > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2svw;
}

.socials {
  display: flex;
  gap: 1.5em;
  justify-content: end;
  align-items: center;
}
.socials > li {
  position: relative;
}

.socials a {
  display: block;
  height: 100%;

  & svg {
    width: clamp(1.5em, 1.7vw, 5em);
  }
}
.socials > li:hover > span {
  transform: translate(-50%, 0px);
}
.socials > li > span {
  position: absolute;
  transition: all 0.2s ease-out;
  transform: translate(-50%, 20px);
  left: 50%;
  top: 100%;
  width: max-content;
  opacity: 0;
  aspect-ratio: 1 / 1;
  z-index: -1;
  font-family: var(--font-nimpkish);
  font-size: clamp(1.1rem, 1svw, 2rem);
}
.burger {
  position: absolute;
  top: 0.5em;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2em;
  height: 2em;
  cursor: pointer;
  rotate: 180deg;
}

.burger span {
  background: var(--segondary-clr);
  border-radius: 10px;
  height: 100%;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger span:nth-of-type(1) {
  width: 75%;
}

.burger span:nth-of-type(2) {
  width: 100%;
}

.burger span:nth-of-type(3) {
  width: 50%;
}

.burger input[type="checkbox"] {
  display: none;
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  width: 50%;
  transform: rotatez(45deg) translate(4px, 1px);
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.burger input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform: translate(15px, -5px) rotatez(45deg);
}

@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    justify-items: center;
    top: 0px;
    gap: 5%;
    height: calc(50px + 1.5em);
    padding-block: calc(50px + 2em) 0;
    overflow: hidden;
    background: linear-gradient(white 25%, transparent);
    width: 100%;
    transition: all 0.3s ease-out;
    backdrop-filter: blur(10px);
  }
  .header > h1 {
    position: absolute;
    flex-direction: column;
    align-items: start;
    gap: 0;
    top: 0;
    left: 0;
    padding: 0.25em;
  }
  .nav,
  .socials {
    transition: all 0.5s ease-out;
    opacity: 0;
  }
  .header:has(label > input[type="checkbox"]:checked) {
    height: 100%;
    min-height: max-content;
    padding-block: calc(50px + 3em) 0;
  }
  .header:has(label > input[type="checkbox"]:checked) > nav,
  .header:has(label > input[type="checkbox"]:checked) > ul {
    opacity: 1;
  }

  .nav a {
    font-size: 1.2em;
  }

  .nav > ul {
    gap: 2em;
  }
}

/* @locales */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 30svh;
}

.header_section > aside {
  max-height: 100%;
}
.header_section > aside > img {
  user-select: none;
}
.header_section > h2 {
  display: grid;
  font-size: clamp(2.5em, 2vw, 10em);
  font-family: var(--font-nimpkish);
}
.header_section > h2 > span {
  overflow: hidden;
}
.header_section > h2 > span:last-child {
  color: var(--primary_clr);
}

.bottom_section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2.5em;
  align-self: start;
  height: 100%;
  width: 100%;
}

.bottom_section > div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 1em;
  align-items: center;
  color: var(--segondary-clr);
  font-family: var(--font-nimpkish);
}

.bottom_section > div > hr {
  border: none;
  background-color: var(--segondary-clr);
  height: 25%;
  border-radius: 10px;
}

.galery {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 15%));
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.galery > li {
  list-style-type: none;
  height: 100%;
}

@media screen and (max-width: 1330px) {
  .galery {
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  }
  .galery > li:last-child {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .galery {
    grid-template-columns: repeat(2, 1fr);
  }
  .galery > li > article {
    width: 100%;
  }

  .galery > li:nth-child(3) {
    display: none;
  }
  .main {
    grid-template-rows: 0.3fr 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .header_section > aside {
    display: none;
  }

  .galery {
    grid-template-columns: repeat(1, 0.5fr);
    justify-content: center;
  }

  .galery > li:nth-child(2) {
    display: none;
  }
}
