.main {
  position: relative;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-columns: 100%;
  max-width: 100svw;
  place-items: center start;
  gap: 5%;
  padding-inline: 0;
  padding-top: 5%;
}

.main > section:first-child {
  display: grid;
  font-size: x-large;
  padding-inline-start: 10%;
}

.main > section:first-child > h2 {
  font-size: clamp(18px, 3vw, 35px);
  color: var(--primary_clr);
  font-family: var(--font-nimpkish);
}

.main > section:first-child > p {
  font-weight: bolder;
}

.section {
  position: relative;
  grid-template-columns: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3em;
  width: 100%;
  overflow: hidden;
  padding-block: 2em;
}

.section:not(:first-child) {
  padding-inline: 1em;
}

.section > div:first-child {
  position: sticky;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 100%;
  align-items: center;
  gap: 1em;
  color: var(--segondary-clr);
}
.section > div:first-child > hr {
  background-color: var(--segondary-clr);
  border-radius: 50px;
  height: 25%;
  border: none;
}
.section > div:first-child > h3 {
  font-size: clamp(2em, 1.5vw, 5em);
  font-family: var(--font-nimpkish);
}
.section > div:last-child {
  display: flex;
  justify-content: start;
  gap: clamp(2em, 3svw, 3svw);
  transition: all 0.5s ease-out;
  align-items: center;
  width: fit-content;
  padding-inline-end: 1em;
}
.section > div:last-child:hover {
  cursor: grab;
}

.article {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1em;
  width: clamp(400px, 25svw, 100%);
  transition: all 0.5s ease-out;
  height: 100%;
}

.article[data-visible="true"] {
  opacity: 1;
}

.article[data-visible="false"] {
  opacity: 0 !important;
}
.article > img {
  border-radius: 1em;
  min-width: 25svw;
}
.article > div {
  display: grid;
  grid-template-columns: auto 1fr;
  text-wrap: nowrap;
  gap: 1em;
}

.article > div > h2 {
  font-size: clamp(1.1em, 1svw, 5em);
}
.article > div > a {
  display: grid;
  justify-self: end;
  border: 2px solid black;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  transition: all 0.15s ease-out;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  font-family: var(--font-nimpkish);
  font-size: clamp(0.9em, 1svw, 2.5em);
}

.article > div > a:hover,
.article > div > a:focus-visible {
  translate: 0px -2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (pointer: coarse) {
  .section {
    overflow-x: auto;
  }
}
@media screen and (max-width: 1400px) {
  .main {
    padding-inline: 5%;
  }
}
@media screen and (max-width: 650px) {
  .section {
    overflow-x: auto;
    position: relative;
    height: max-content;
  }
  .main {
    padding-block-start: calc(50px + 3em);
    gap: 2em;
    grid-template-rows: auto 1fr 1fr 1fr;
  }

  .section > div:last-child {
    max-width: 100%;
    height: 300px;
  }
  .article > img {
    height: 200px;
  }
  .article {
    width: 100%;
    height: 100%;
  }

  .article > div {
    display: grid;
    gap: 1em;
    grid-template-columns: auto max-content;
    height: fit-content;
  }

  .article > div > a {
    height: min-content;
  }
  .article > div > h2 {
    width: auto;
  }

  .section > div:first-child {
    grid-template-columns: 1fr;
    grid-row: auto auto;
  }
  .section > div:first-child > hr {
    height: 5px;
  }
  .article {
    min-width: 100%;
  }
}
