/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/[locale]/styles/inner.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.inner_wrapper__ZgAQ_ {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
  animation: inner_anim__45Y8D ease 0.2s forwards;
}

.inner_wrapper__ZgAQ_ > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: visibility 0.2s ease;
}

@keyframes inner_anim__45Y8D {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inner_wrapper__ZgAQ_ > span {
  position: relative;
  background: var(--segondary-clr);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.0_react-dom@18.2.0_react@18.2.0/node_modules/next/font/local/target.css?{"path":"app\\layout.tsx","import":"","arguments":[{"src":"./[locale]/fonts/ED_Nimpkish-Regular.otf"}],"variableName":"Nimpkish"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__Nimpkish_ca87af';
src: url(/_next/static/media/fdda012790afb416-s.p.otf) format('opentype');
font-display: swap;
}@font-face {font-family: '__Nimpkish_Fallback_ca87af';src: local("Arial");ascent-override: 92.39%;descent-override: 23.10%;line-gap-override: 15.40%;size-adjust: 103.90%
}.__className_ca87af {font-family: '__Nimpkish_ca87af', '__Nimpkish_Fallback_ca87af'
}

